
.tt{
    margin-top: 150px !important;
}



.link-success
{
   color:#252621!important ; 
}

.the
{
    color: #55A545!important ;  
}
.thh
{
    text-align: center !important  ;
   
}
.tttt{
background-color: white!important;
}
.ttttt{
    background-color: whitesmoke!important;
}

